[Unit]
Description=Luckysheet: online spreadsheet
Documentation=https://github.com/mengshukeji/Luckysheet
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="__YNH_NODE_LOAD_PATH__"
Environment="NODE_ENV=production"
ExecStart=__YNH_NPM__ run build
Restart=always
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
